/ClassFeature.class
/Specialization.class
/CharacterClass.class
/Artificer.class
/Barbarian.class
/Cleric.class
/Bard.class
/BloodHunter.class
/Druid.class
/SpellTable.class
/Fighter.class
/Monk.class
/Mystic.class
/Paladin.class
/Ranger.class
/Rogue.class
/Sorcerer.class
/Warlock.class
/Wizard.class
